<div class="login-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="padding-bottom: 20px; width: 450px;" class="register" [style]="clickRegister ? 'margin-left: 0vw' : ''">
        <span class="login-header">Update</span>
        
        <label style="margin-bottom: 20px;">Title:
            <input formControlName="title" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.title.errors }" [style]="submitted && registerForm.controls.title.errors ? 'outline: 1px solid #b30000;' : ''" type="text" [(ngModel)]="meeting.title">
        </label>
        <div *ngIf="submitted && registerForm.controls.title.errors" class="validation-error">
        </div>
        
        <label style="margin-bottom: 20px;">Description:
            <input formControlName="description" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.description.errors }" [style]="submitted && registerForm.controls.description.errors ? 'outline: 1px solid #b30000;' : ''" type="text" [(ngModel)]="meeting.description">
        </label>
        <div style="margin-top: 3px; margin-bottom: -16.6px; margin-left: 10px;" *ngIf="submitted && registerForm.controls.description.errors" class="validation-error">
        </div>
        
        <label style="margin-bottom: 20px;">Image Url:
            <input formControlName="imageUrl" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.imageUrl.errors }" [style]="submitted && registerForm.controls.imageUrl.errors ? 'outline: 1px solid #b30000;' : ''" type="text" [(ngModel)]="meeting.imageUrl">
        </label>
        <div style="margin-top: 3px; margin-bottom: -16.6px; margin-left: 10px;" *ngIf="submitted && registerForm.controls.imageUrl.errors" class="validation-error">
        </div>
        
        <label style="margin-bottom: 20px;">Date:
            <input formControlName="date" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.date.errors }" [style]="submitted && registerForm.controls.date.errors ? 'outline: 1px solid #b30000;' : ''" type="text" [(ngModel)]="meeting.date">
        </label>
        <div style="margin-top: 3px; margin-bottom: -16.6px; margin-left: 10px;" *ngIf="submitted && registerForm.controls.date.errors" class="validation-error">
        </div>
        <label style="margin-bottom: 20px;">Location:
            <input formControlName="location" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.location.errors }" [style]="submitted && registerForm.controls.location.errors ? 'outline: 1px solid #b30000;' : ''" type="text" [(ngModel)]="meeting.location">
        </label>
        <div style="margin-top: 3px; margin-bottom: -16.6px; margin-left: 10px;" *ngIf="submitted && registerForm.controls.location.errors" class="validation-error">
        </div>
        <label style="margin-bottom: 20px;">Latitude:
            <input formControlName="lat" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lat.errors }" [style]="submitted && registerForm.controls.lat.errors ? 'outline: 1px solid #b30000;' : ''" type="text" [(ngModel)]="meeting.lat">
        </label>
        <div style="margin-top: 3px; margin-bottom: -16.6px; margin-left: 10px;" *ngIf="submitted && registerForm.controls.lat.errors" class="validation-error">
        </div>
        <label style="margin-bottom: 20px;">Longitude:
            <input formControlName="lng" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lng.errors }" [style]="submitted && registerForm.controls.lng.errors ? 'outline: 1px solid #b30000;' : ''" type="text" [(ngModel)]="meeting.lng">
        </label>
        <div style="margin-top: 3px; margin-bottom: -16.6px; margin-left: 10px;" *ngIf="submitted && registerForm.controls.lng.errors" class="validation-error">
        </div>
        <label style="margin-bottom: 20px;">Registration Fee:
            <input formControlName="registration_fee" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.registration_fee.errors }" [style]="submitted && registerForm.controls.registration_fee.errors ? 'outline: 1px solid #b30000;' : ''" type="text" [(ngModel)]="meeting.registration_fee">
        </label>
        <div style="margin-top: 3px; margin-bottom: -16.6px; margin-left: 10px;" *ngIf="submitted && registerForm.controls.registration_fee.errors" class="validation-error">
        </div>
        
        <button class="login-button" (click)="updateMeeting(meeting._id)"><b>Update</b></button>
    </form>
</div>
