<div class="login-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="padding-bottom: 20px; width: 450px;" class="register" [style]="clickRegister ? 'margin-left: 0vw' : ''">
        <span class="login-header">Update</span>
        <label style=" margin-bottom: 20px;">Title:<input formControlName="title" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.title.errors }" [style]="submitted && registerForm.controls.title.errors ? 'outline: 1px solid #b30000;' : ''" type="text" [(ngModel)]="event.title" ></label>
        <div *ngIf="submitted && registerForm.controls.title.errors" class="validation-error">
        </div>
        <div style="width: 62%; display: inline-flex; justify-content: center; margin-bottom: 20px;">
            <div style="margin-right: 4%; display: flex; flex-direction: column; width: 62%;">
            <label style="width: 100%;">Description<input [style]="submitted && registerForm.controls.description.errors ? 'outline: 1px solid #b30000;' : ''" formControlName="description" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.description.errors }" type="text" [(ngModel)]="event.description"></label>
            <div style="width: 100%; margin-top: 3px; margin-bottom: -16.6px; margin-left: 10px;" *ngIf="submitted && registerForm.controls.description.errors" class="validation-error">
            </div>
            </div>
        </div>
        <button class="login-button" (click)="updateEvent(event._id)"><b>Update</b></button>
    </form>
    </div>
